<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}OM NOM!{{else}}GIMME MO'!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">NO MO'!</button>
</li>
